.split {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    overflow: auto;
    height: 100%;
    width: 20%;
    left: 0;
    background-color: gray;
}

.right {
    overflow: auto;
    height: 93%;
    width: 80%;
    right: 0;
    background-image: url("fondo.jpg");
}

.topRight {
    text-align: center;
    position: absolute;
    height: 10%;
    width: 100%;
    top: -20px;
    background-color: #075E54;
}

#message {

    position: absolute;
    height: 5%;
    width: 70%;
    left: 20%;
    bottom: 0;
    background-color: white;
   
    border: 3px solid black;
   
}

#send {
    position: absolute;
    height: 5%;
    width: 10%;
    right: 0;
    bottom: 0;
    background-color: #128C7E;
   border: 3px solid black;
    
}

#addContact {
    position: relative;
    height: 5%;
    width: 100%;
    right: 0;
    background-color: #128C7E;
    border-radius: 50px;


}

.newContact {
    position: relative;
    height: 80px;
    width: 100%;
    top: -20px;
    background-color: grey;
    text-align: center;
    line-height: 80px;
    border-style: solid;
    border-radius: 3px;
    border-color: black;
}

.newContact:hover {
    background-color: gainsboro;
}

.chatIzq {
    position: relative;
    height: 80px;
    width: 300px;
    top: 0%;
    background-color: whitesmoke;
    text-align: center;
    line-height: 80px;
    left: 10%;
    border-radius: 50px;
}

.chatDer {
    position: relative;
    height: 80px;
    width: 300px;
    top: 0%;
    background-color: #DCF8C6;
    text-align: center;
    line-height: 80px;
    left: 70%;
    border-radius: 50px;
}
