.inicio{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #252529;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.conjunto{
  position: inherit;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.boton{
  width: 400px;
  height: 80px;
  border-radius: 15px;
  background: #1151ff;;
  outline: none;
  border-color: #1151ff;
  color: white;
  font-size: 2rem;
}

.boton:hover {
  background: #226efc;
}

.boton:active { 
  background: #0346ff;
}